
{% extends 'layout.html' %}


<!-- Custom Style -->
{% block style %}
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename = 'account.css')}}">
{% endblock style %}


<!-- Content -->
{% block content %} 

    <main class="my-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form method="POST" action="" >  
                                <div class="form-group">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                                <div class="alert alert-{{ category }} text-center">
                                                {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}                                    
                                </div>                  
                                <div class="d-flex justify-content-center">
                                    <div class="form-group mr-5">
                                        <label>Name</label>
                                        <input name="name" type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Surname</label>
                                        <input name="surname" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="form-group mr-5">
                                        <label>Email</label>
                                        <input name="email" type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input name="password" type="password" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-4">                         
                                    <button type="submit" class="btn btn-dark">Register</button>                             
                                    <a href="{{url_for('login_page')}}" class="btn btn-secondary">Back to Login</a>
                                </div>                                         
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}


<!-- Scripts -->
{% block script %}

{% endblock script %}


